In [1]:
import pandas
titanic = pandas.read_csv("./titanic/train.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
print(titanic.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [3]:
titanic["Age"] = titanic["Age"].fillna(titanic["Age"].median)

In [4]:
print(titanic["Sex"].unique())

['male' 'female']

In [5]:
titanic.loc[titanic["Sex"]=="male","Sex"] = 0
titanic.loc[titanic["Sex"]=="female","Sex"] = 1

In [6]:
print(titanic["Embarked"].unique())

['S' 'C' 'Q' nan]

In [7]:
titanic["Embarked"] = titanic["Embarked"].fillna('S')
titanic.loc[titanic["Embarked"]=="S","Embarked"] = 0
titanic.loc[titanic["Embarked"]=="C","Embarked"] = 1
titanic.loc[titanic["Embarked"]=="Q","Embarked"] = 2

In [8]:
!pip install sklearn

Requirement already satisfied: sklearn in /home/blime/anaconda3/lib/python3.7/site-packages (0.0)
Requirement already satisfied: scikit-learn in /home/blime/anaconda3/lib/python3.7/site-packages (from sklearn) (0.21.2)
Requirement already satisfied: scipy>=0.17.0 in /home/blime/anaconda3/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.3.0)
Requirement already satisfied: joblib>=0.11 in /home/blime/anaconda3/lib/python3.7/site-packages (from scikit-learn->sklearn) (0.13.2)
Requirement already satisfied: numpy>=1.11.0 in /home/blime/anaconda3/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.18.1)

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold

In [23]:
predictors = ["Pclass","Sex","Age","SibSp","Parch","Fare","Embarked"]

alg = LinearRegression()
kf = KFold(3,shuffle=False)

In [25]:
predictions = []
import numpy as np

for train,test in enumerate(kf.split(titanic[predictors])):
    train_preditors = np.array(titanic[predictors].iloc[train,:].values.reshape(-1,1))
    train_target = np.array(titanic["Survived"].iloc[train])
    alg.fit(train_preditors, train_target)
    test_predictions = alg.predict(titanic[predictors].iloc[test,:])
    predictions.append(test_predictions)

TypeError: Singleton array array(0) cannot be considered a valid collection.